body{
    background-color: aliceblue;
    margin: 0;

    height: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: center;/*alinha o container no meio da tela*/
    height: auto;



}

header .container{
    
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding: 20px;
}
header .container .title_name{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
    text-shadow: 1px -2px gold;
    font-size: 30px;
    font-style: oblique;
}
header .container .title_desc{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
}

header .container .image_title{
    display: flex;
    
    justify-content: center;
    align-items: center;
}
header .container .image_title img{
    width:500px;
    
    border-radius: 100%;
    box-shadow: 0 0 1em gold;
}

/*section*/

section  .container  {
    display: flex;

    justify-content: center;
    background-color: rgb(234, 249, 175);
    padding-top: 30px;
}

footer{
    background-color: black;
    display: flex;
    flex-direction: column;

}

section  .container .banner{
    height: 300px;
    
   
}
section  .desc {
    display: flex;
   justify-content: baseline;
   align-items: baseline;
   margin-right: 10px;
   
}
section  .container .banner img{
    width: 250px;
  
    border-radius: 100%;
}

footer{
    display: flex;
    justify-content: center;
    background-color: gold;
    height: 100px;
}

.footer-item {  
    display: flex;
    justify-content: center;

}
