body{
    background-color: aliceblue;
    margin: 0;

    height: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: center;/*alinha o container no meio da tela*/
    height: auto;



}

header .container{
    
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding: 20px;
}
header .container .title_name{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
    text-shadow: 1px -2px gold;
    font-size: 30px;
    font-style: oblique;
}
header .container .title_desc{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
}

header .container .image_title{
    display: flex;
    
    justify-content: center;
    align-items: center;
}
header .container .image_title img{
    width:500px;
    
    border-radius: 100%;
    box-shadow: 0 0 1em gold;
}

/*section*/

section  .container  {
    display: flex;
<<<<<<< HEAD
    justify-content: center;
    background-color: aquamarine;
}

footer{
    background-color: black;
    display: flex;
    flex-direction: column;

}
=======
    justify-content: center;    
}

section  .container .banner{
   
}
section  .desc {
    display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
}
section  .container .banner img{
    width: 250px;
    border-radius: 100%;
}

footer{
    display: flex;   
    background-color: gold;
    
}

footer .footer-link{

   
}

>>>>>>> f911942685fc5876e71a707d35c4302271565f4c
